 
  .nav-item {
    margin-right: 24px;
  }
  
  .navbar-nav {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 19px;
  }
  
  .nav-link {
    color: #969696 !important ;
    border-bottom: 3px solid transparent;
  }
  .nav-link:hover {
    color: #000000 !important ;
    border-bottom: 3px solid #8eff72;
  }
  .bg-lightblue
  {
    background: #f5f8fb;
  }
  .bg-light {
    background: #ffffff !important;
  }
  header {
    background: #f5f8fb;
  }
  .home-info {
    background: #f5f8fb;
    padding-top: 120px;
    padding-left: 63px;
  }
  .f-t__1 {
    font-size: 57px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .fw__re {
    font-weight: 300;
    line-height: 1.8;
    font-size: 18px;
  }
  .home-img {
    max-width: 1000px;
  }
  .navbar-toggler {
    background-color: #c2c4c6 !important;
    outline: none;
  }
  
  
  
  .product-container__wrap {
    width: 73%;
    margin: 0 auto;
  }
  
  .f-t__3 {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 27px;
  }
  .product-container {
    margin: 0 auto;
  }
  .product-content {
    margin-right: 15px;
   cursor: pointer;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 23px 27px 23px 27px;
    background: #ffff;
   
  }
  .copyright-txt {
    float: right;
    font-size: 14px;
   
  }
  .footer-logo {
    width: 7%;
    float: left;
    margin-top: 7px;
  }
  .d-inline {
    display: inline;
    margin-left: 10px;
  }
  .f-t5 {
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 400;
  
  }
  .arrow {
    margin-top: 31px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .f-t__5
  {
    font-size: 14px;
  }
   .bg-grey {
    background: #eaeaea;
  }
  .float__center {
    width: 90%;
    margin: 0 auto;
  }
  
  .product-f__wrap {
    border: 1px solid gainsboro;
    padding: 23px;
    min-height: 346px ;
  }
  .arrow-blue {
    font-size: 13px;
    color: #1818ff;
  }
  
  .arrow-blue:hover{
    color: #000000;
  }
  .arrow-right {
    width: 23px;
    height: 21px;
    margin-top: -2px;
  }
  
  
  
  .check-circle {
    position: absolute;
    top: 2%;
    color: #B0D237;
    left: -2px;
  }
  
 
  .gif-icon {
    width: 51%;
  }
  
  .fw-inc {
    font-weight: 600;
}
  .fl-left {
      float: left;
      width: 16%;
  }
  .home3-img {
   
    width: 100%;
   
  }
  .demo-cont {
    border: 1px solid #d1d1d1;
    padding: 11px;
    margin-bottom: 11px;
  }
  .footer-wrap,.copyright {
    width: 90%;
    margin: 0 auto;
    padding: 18px 0;
  }
  footer {
    border: 1px solid #e2e2e2;
  }
  .fw-6 
  {
    line-height: unset;
  }
  .footer-link {
    font-size: 13px;
  }
















  .f-t__0  {
    font-size: 43px;
    font-weight: 200;
}

.f-t__4p {
    font-size: 18px;
    line-height: 1.7;
}


.product-img {
  width: 49px;
  margin-bottom: 9px;
}

h2.fw-rem {
  font-weight: 400;
  line-height: 1.5;
  font-size: 26px;
}

.product-overview {
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(204,204,204,1);
  -moz-box-shadow: 10px 10px 5px -4px rgba(204,204,204,1);
  box-shadow: 10px 10px 5px -4px rgba(204,204,204,1);
}
.bg-blue {
  background: #4A90E2;
  
}
.product-desc {
  width: 68%;
}
.spec-table {
  font-size: 14px !important;
  width: 75%;
  margin: 0 auto;
}

.produuct-gif {
  width: 55%;
}
  @media only screen and (max-width: 1024px) {

    .produuct-gif  {
      width: 100%;
    }

    .f-t__0  {
        font-size: 29px;
    }
    .home-img {
      max-width: 100%;
    }
    .home-info {
      padding-top: 59px;
    }
    .f-t__1 {
      font-size: 45px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .col-md-4 {
      flex: 0 0 49.333333% !important;
      max-width: 50% !important;
    }
  
  }
  @media only screen and (max-width: 768px) {


    h2.fw-rem {
        font-size: 18px;
    }
    
    .product-content
    {
      margin-bottom: 0px;
    }


    .check-circle {
      margin-left: -20px;
      top: 7%;
      left: unset;
   
  }
  
    .parallelogram 
      {
        display:none;
      }
    .f-t__6 {
      font-size: 12px;
      line-height: 2;
      font-weight: 700;
  }
  
    .product-container__wrap {
      width: 100%;
      margin: unset;
    }
  
    .f-t__3 {
      font-size: 18px;
      line-height: 1.5;
    }
    .nav-item {
      margin-right: 11px;
    }
  }
  
  
 
  
  
  @media only screen and (max-width: 767px) {

    ul.nav.navbar-nav.ml-auto.mr-md-5 {
      margin-top: 16% !important;
  }



    .spec-table {
      width: 100%;
  
  
  }
    .produuct-gif {
      width: 100%;
    }

    .product-overview
    {
      box-shadow: unset;
      margin-bottom: 20px;
    }
   
    .float__center {
      width: 100%;
      margin: unset;
    }
    .home-info {
      padding-top: 40px;
      padding-left: 16px;
    }
    .f-t__1 {
      font-size: 29px;
      line-height: 1.5px;
    }
  
    .f-t__4 {
      font-size: 18px;
      line-height: 2;
    }

    iframe {
        height: auto !important;
    }
  }
  .social-media {
    margin-right: 8px;
    color: blue;
    cursor: pointer;
}  

iframe {
    position: relative;
    left: 0;
    top: 0px;
    width: 100%;
    height: 400px;
}