<div class="wrapper ">
  <header>
    <nav class="navbar navbar-expand-md   navbar-dark  sticky-top  ">
      <a class="navbar-brand" href="#"
        ><img src="assets/logo.png" class="logo ml-md-5"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav ml-auto mr-md-5">
          <li class="nav-item">
            <a class="nav-link" href="#">What We Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="home-info pb-4  ">
    <div class="row resize-cont">
      <div class="col-md-6 ">
        <img src="assets/p1.png" class="product-img" />
        <h5 class="f-t__3 d-inline">Accropols</h5>
        <p class="f-t__0 mb-2">
          The industry’s most popular hyperconverged infrastructure (HCI)
          solution
        </p>
        <p class="mb-4 f-t__4p">
          Effortlessly leverage cloud-like agility and ease of use, coupled with
          on-premises security and control, as you leave behind the complexity
          and cost of legacy solutions
        </p>
      </div>
      <div class="col-md-6">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/DqPLSVT1H64"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>

  <div class="product-container__wrap py-md-5 px-3 ">
    <div class="row">
      <div class="col-md-12  product-overview ">
        <div class="row   py-md-4 px-2">
          <div class="col-md-12 text-center my-4">
            <h2 class="fw-rem">
              Free yourself from the complexity and costs of legacy
              infrastructure
            </h2>
          </div>

          <div class="row product-container  text-center">
            <div class="col-md-4 p-0 ">
              <div class="product-content  ">
                <img src="assets/p21.png" />

                <h5 class="f-t__5  fw-inc  mt-3 f-t5">
                  Invisible Infrastructure
                </h5>
              </div>
            </div>
            <div class="col-md-4 p-0 ">
              <div class="product-content  ">
                <img src="assets/p22.png" />

                <h5 class="f-t__5  fw-inc  mt-3 f-t5">
                  Intelligent Operations
                </h5>
              </div>
            </div>
            <div class="col-md-4 p-0 ">
              <div class="product-content  ">
                <img src="assets/p23.png" />

                <h5 class="f-t__5  fw-inc  mt-3 f-t5">
                  Multicloud Enabled
                </h5>
              </div>
            </div>

            <div class="col-md-12 mb-4">
              <h5 class="f-t__5 px-md-5 mx-md-5   f-t5">
                Acropolis delivers all the power, flexibility, and simplicity
                you need to build out your IT infrastructure exactly as you need
                it—now and into the future.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row px-4 py-5 bg-blue">
    <div class="col-md-6 text-center">
      <img src="assets/proddessc.png" class="product-desc" />
    </div>

    <div class="col-md-6 px-md-5">
      <h2 class="fw-rem  mt-md-4 text-light">
        Leader Again in the November 2018 Gartner Magic Quadrant for
        Hyperconverged Infrastructure
      </h2>
    </div>
  </div>

  <div class="row px-4 py-5 px-md-5 mx-md-5 mt-4">
    <div class="col-md-6">
      <h2 class="fw-rem mb-3">
        Free yourself from the complexity and costs of legacy infrastructure
      </h2>
      <h5 class="f-t__5   f-t5">
        Enterprise-grade performance, one-click simplicity, and effortless
        scale—all at lower TCO. Bring the next-gen power of Yobitel
        hyperconverged infrastructure to your business while making your budget.
        Then enjoy the freedom to focus on driving your business.
      </h5>


      <h5 class="f-t__4 mt-3 text-primary">Envision Your T&C Savings</h5>
    </div>

    <div class="col-md-6"><img src="assets/seo1.gif" class="produuct-gif"></div>


  </div>
 
    
  <div class="row py-md-5 px-3  ">
    <div class="col-md-12 text-center">
      <h2 class="fw-rem">Flexible Platform Options for HCI</h2>
    </div>

    <div class="col-md-12 py-4 px-2">
      <div class="row float__center">
        <div class="col-md-4 mb-2">
          <div class="product-f__wrap text-center  ">
            <img src="assets/p2.png" class="product-f__img mb-4" />
            <h5 class="f-t__4  mb-4  ">Software Options</h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Run any application at any scale with a turnkey hyperconverged
              infrastructure solution.
            </h5>
            <div class="arrow arrow-blue">
              More Information &nbsp;
              <img src="assets/arrow.png" class="arrow-right" />
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="product-f__wrap text-center  bg-lightblue ">
            <img src="assets/p4.png" class="product-f__img mb-4" />
            <h5 class="f-t__4  mb-4  ">Hardware Platforms</h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Run any application at any scale with a turnkey hyperconverged
              infrastructure solution.
            </h5>
            <div class="arrow arrow-blue">
              More Information &nbsp;
              <img src="assets/arrow.png" class="arrow-right" />
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="product-f__wrap text-center ">
            <img src="assets/p5.png" class="product-f__img mb-4" />
            <h5 class="f-t__4  mb-4  ">Virtualization Options</h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Learn about Yobitel AHV and other hypervisor options including
              VMware, Microsoft, or Citrix.
            </h5>
            <div class="arrow arrow-blue">
              More Information &nbsp;<img
                src="assets/arrow.png"
                class="arrow-right"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
  <!--New Section Starts Here-->

  <div class="col-md-12  my-md-5">
    <table class="table table-striped table-bordered table-hover spec-table">
      <tbody>
        <tr>
          <td>Version</td>
          <td>2.19</td>
        </tr>
        <tr>
          <td>By</td>
          <td class="text-primary">Yobitel Communication Limited</td>
        </tr>
        <tr>
          <td>Category</td>
          <td class="text-primary">Application /development</td>
        </tr>

        <tr>
          <td>Operating System</td>
          <td>Linux</td>
        </tr>

        <tr>
          <td>Delivery Method</td>
          <td>Container</td>
        </tr>

        <tr>
          <td>Supported Amaxzon Service</td>
          <td>Amazon Ek2</td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer>
    <div class="footer-wrap">
      <div class="row ">
        <div class="col-md-3 col-6">
          <h5 class="f-t__5  fw-6  f-t5">What we do ></h5>

          <p class="footer-link mb-2">Solutions</p>
          <p class="footer-link mb-2">Products</p>
          <p class="footer-link mb-2">Resources</p>
          <p class="footer-link mb-2">Our Customers</p>
        </div>
        <div class="col-md-3 col-6">
          <h5 class="f-t__5  fw-6  f-t5">Company ></h5>

          <p class="footer-link mb-2">Carrier</p>
          <p class="footer-link mb-2">Global Offices</p>
          <p class="footer-link mb-2">Media Coverage</p>
          <p class="footer-link mb-2">Press Release</p>
          <p class="footer-link mb-2">Investor Relations</p>
          <p class="footer-link mb-2">Social Responsibilities</p>
          <p class="footer-link mb-2">Trust</p>
        </div>
        <div class="col-md-3 col-6">
          <h5 class="f-t__5  fw-6  f-t5">Support ></h5>

          <p class="footer-link mb-2">Support Portal Login</p>
          <p class="footer-link mb-2">Contact Support</p>
          <p class="footer-link mb-2">Product Support</p>
        </div>
        <div class="col-md-3 col-6">
          <h5 class="f-t__5  fw-6  f-t5 arrow-blue">Contact Us --></h5>
          <h5 class="f-t__5  fw-6  mb-3 f-t5 arrow-blue">Partner Login --></h5>
          <p class="footer-link mb-2">Blogs</p>
          <p class="footer-link mb-2">Events</p>
          <p class="footer-link mb-2">
            <i class="fa fa-facebook social-media"></i
            ><i class="fa fa-youtube social-media"></i
            ><i class="fa fa-linkedin social-media"></i>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright">
    <img src="assets/logo.png" class="footer-logo" />
    <p class="f-t__6 copyright-txt">
      Handcrafted in Sunny California. © Yobitel 2019 Privacy Statement
    </p>
  </div>
</div>
