<div class="wrapper ">
    <header>
      <nav class="navbar navbar-expand-md   navbar-dark  sticky-top  ">
        <a class="navbar-brand" href="#"
          ><img src="assets/logo.png" class="logo ml-md-5"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="nav navbar-nav ml-auto mr-md-5">
            <li class="nav-item">
              <a class="nav-link" href="#">What We Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Partners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="home-info pb-4  ">
      <div class="row resize-cont">
        <div class="col-md-6 animated slideInLeft">
          <p class="f-t__1 mb-2">We are purely Cloud Native</p>
          <h4 class="mb-4 f-t__4">Your Enterprise Cloud Journey Starts Here.</h4>
          <h4 class="fw__re f-t__4">
            Rapidly deliver high-performance infrastructure and applications to
            business, operations, and development groups in a single solution that
            scales with your business.
          </h4>
        </div>
        <div class="col-md-6">
          <img src="assets/home-img.png"  class="home-img animated fadeInDown" />
        </div>
      </div>
    </section>
  
    <div class="product-container__wrap py-5 px-3 ">
      <div class="row">
        <div class="col-md-12 text-center ">
          <h3 class="f-t__3">Your Enterprise Cloud Journey Starts Here.</h3>
        </div>
  
        <div class="col-md-12 ">
          <div class="row   py-md-4 px-2">
            <div class="col-md-12 text-center my-4">
              <h4 class="f-t__4 ">Core</h4>
            </div>
  
            <div class="row product-container">
              <div class="col-md-4 p-0 ">
                <div class="product-content  ">
                  <img src="assets/Prism.png" />
                  <h5 class="f-t__5 d-inline">Prism</h5>
  
                  <h5 class="f-t__5   mt-3 f-t5">
                    Run any application at any scale with a turnkey hyperconverged
                    infrastructure solution.
                  </h5>
  
                  <div class="arrow">
                    <img src="assets/arrow.png" class="arrow-right" />
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0 ">
                <div class="product-content  ">
                  <img src="assets/p1.png" />
                  <h5 class="f-t__5 d-inline">Accropols</h5>
  
                  <h5 class="f-t__5   mt-3 f-t5">
                    Run any application at any scale with a turnkey hyperconverged
                    infrastructure solution.
                  </h5>
                  <div class="arrow">
                    <img src="assets/arrow.png" class="arrow-right" />
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0 ">
                <div class="product-content  ">
                  <img src="assets/AHV.png" />
                  <h5 class="f-t__5 d-inline">AHV</h5>
  
                  <h5 class="f-t__5   mt-3 f-t5">
                    Run any application at any scale with a turnkey hyperconverged
                    infrastructure solution.
                  </h5>
                  <div class="arrow">
                    <img src="assets/arrow.png" class="arrow-right" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-12 bg-grey">
          <div class="row   py-4 px-2">
            <div class="col-md-12 text-center my-4">
              <h4 class="f-t__4 ">Essentials</h4>
            </div>
  
            <div class="row product-container">
              <div class="col-md-4 p-0 ">
                <div class="product-content  ">
                  <img src="assets/Calm.png" />
                  <h5 class="f-t__5 d-inline">Calm</h5>
  
                  <h5 class="f-t__5   mt-3 f-t5">
                    Run any application at any scale with a turnkey hyperconverged
                    infrastructure solution.
                  </h5>
  
                  <div class="arrow">
                    <img src="assets/arrow.png" class="arrow-right" />
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0 ">
                <div class="product-content  ">
                  <img src="assets/Files.png" />
                  <h5 class="f-t__5 d-inline">Files</h5>
  
                  <h5 class="f-t__5   mt-3 f-t5">
                    Run any application at any scale with a turnkey hyperconverged
                    infrastructure solution.
                  </h5>
                  <div class="arrow">
                    <img src="assets/arrow.png" class="arrow-right" />
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0 ">
                <div class="product-content  ">
                  <img src="assets/Volumes.png" />
                  <h5 class="f-t__5 d-inline">Volumes</h5>
  
                  <h5 class="f-t__5   mt-3 f-t5">
                    Run any application at any scale with a turnkey hyperconverged
                    infrastructure solution.
                  </h5>
                  <div class="arrow">
                    <img src="assets/arrow.png" class="arrow-right" />
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0 ">
                <div class="product-content  ">
                  <img src="assets/Flow.png" />
                  <h5 class="f-t__5 d-inline">Flow</h5>
  
                  <h5 class="f-t__5   mt-3 f-t5">
                    Run any application at any scale with a turnkey hyperconverged
                    infrastructure solution.
                  </h5>
                  <div class="arrow">
                    <img src="assets/arrow.png" class="arrow-right" />
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0 ">
                <div class="product-content  ">
                  <img src="assets/Prism1.png" />
                  <h5 class="f-t__5 d-inline">Prism Pro</h5>
  
                  <h5 class="f-t__5   mt-3 f-t5">
                    Run any application at any scale with a turnkey hyperconverged
                    infrastructure solution.
                  </h5>
                  <div class="arrow">
                    <img src="assets/arrow.png" class="arrow-right" />
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0 ">
                <div class="product-content  ">
                  <img src="assets/XiBeam.png" />
                  <h5 class="f-t__5 d-inline">Xi-Beam</h5>
  
                  <h5 class="f-t__5   mt-3 f-t5">
                    Run any application at any scale with a turnkey hyperconverged
                    infrastructure solution.
                  </h5>
                  <div class="arrow">
                    <img src="assets/arrow.png" class="arrow-right" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row py-md-5 px-3  ">
      <div class="col-md-12 text-center">
        <h3 class="f-t__3">Flexible Platform Options for HCI</h3>
      </div>
  
      <div class="col-md-12 py-4 px-2">
        <div class="row float__center">
          <div class="col-md-4 mb-2">
            <div class="product-f__wrap text-center bg-lightblue">
              <img src="assets/p2.png" class="product-f__img mb-4" />
              <h5 class="f-t__4  mb-4  ">Software Options</h5>
              <h5 class="f-t__5   mb-5  f-t5">
                Run any application at any scale with a turnkey hyperconverged
                infrastructure solution.
              </h5>
              <div class="arrow arrow-blue">
                More Information &nbsp;
                <img src="assets/arrow.png" class="arrow-right" />
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="product-f__wrap text-center bg-light">
              <img src="assets/p4.png" class="product-f__img mb-4" />
              <h5 class="f-t__4  mb-4  ">Hardware Platforms</h5>
              <h5 class="f-t__5   mb-5  f-t5">
                Run any application at any scale with a turnkey hyperconverged
                infrastructure solution.
              </h5>
              <div class="arrow arrow-blue">
                More Information &nbsp;
                <img src="assets/arrow.png" class="arrow-right" />
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="product-f__wrap text-center bg-lightblue">
              <img src="assets/p5.png" class="product-f__img mb-4" />
              <h5 class="f-t__4  mb-4  ">Virtualization Options</h5>
              <h5 class="f-t__5   mb-5  f-t5">
                Learn about Yobitel AHV and other hypervisor options including
                VMware, Microsoft, or Citrix.
              </h5>
              <div class="arrow arrow-blue">
                More Information &nbsp;<img
                  src="assets/arrow.png"
                  class="arrow-right"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 gif-container text-center">
        <img src="assets/marketing.gif" class="gif-icon" />
      </div>
    </div>
  
    <div class="row py-md-5 px-3  ">
      <div class="col-md-12 text-center">
        <h3 class="f-t__3">Why Yobitel?</h3>
      </div>
  
      <div class="col-md-12 py-4 px-2">
        <div class="row float__center">
          <div class="col-md-4 mb-2 pl-4">
            <h5 class="f-t__4  mb-4  ">
              <i class="fa fa-check-circle check-circle"></i>Any Application at
              Any Scale
            </h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Start small—scale-up and scale-out to any size deployment.
            </h5>
          </div>
          <div class="col-md-4 mb-2 pl-4">
            <h5 class="f-t__4  mb-4  ">
              <i class="fa fa-check-circle check-circle"></i>Simplified Management
            </h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Get centralized, one-click management across workflows.
            </h5>
          </div>
          <div class="col-md-4 mb-2 pl-4">
            <h5 class="f-t__4  mb-4  ">
              <i class="fa fa-check-circle check-circle"></i>Built-in Resiliency
            </h5>
            <h5 class="f-t__5   mb-5  f-t5">
              No single point of failure—apps and data remain highly available.
            </h5>
          </div>
          <div class="col-md-4 mb-2 pl-4">
            <h5 class="f-t__4  mb-4  ">
              <i class="fa fa-check-circle check-circle"></i>Native Integration of
              ML & AI
            </h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Simplify risk management, optimization, and ease of operation.
            </h5>
          </div>
          <div class="col-md-4 mb-2 pl-4">
            <h5 class="f-t__4  mb-4  ">
              <i class="fa fa-check-circle check-circle"></i>App & Data Protection
            </h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Enjoy built-in security, data protection, and disaster recovery.
            </h5>
          </div>
          <div class="col-md-4 mb-2 pl-4">
            <h5 class="f-t__4  mb-4  ">
              <i class="fa fa-check-circle check-circle"></i>Non-disruptive
              Upgrades
            </h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Eliminate planned IT downtime with one-click software updates.
            </h5>
          </div>
          <div class="col-md-4 mb-2 pl-4">
            <h5 class="f-t__4  mb-4  ">
              <i class="fa fa-check-circle check-circle"></i>Freedom of Choice
            </h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Avoid vendor lock-in and and leave rigid environments behind.
            </h5>
          </div>
          <div class="col-md-4 mb-2 pl-4">
            <h5 class="f-t__4  mb-4  ">
              <i class="fa fa-check-circle check-circle"></i>API-based Design
            </h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Leverage easy integrations and a full ecosystem of partners.
            </h5>
          </div>
          <div class="col-md-4 mb-2 pl-4">
            <h5 class="f-t__4  mb-4  ">
              <i class="fa fa-check-circle check-circle"></i>Native Virtualization
            </h5>
            <h5 class="f-t__5   mb-5  f-t5">
              Get enterprise-grade, license-free virtualization with AHV.
            </h5>
          </div>
        </div>
      </div>
    </div>
  







    <div class="row product-container__wrap py-5 text-center px-5">
     <div class="col-md-12 mb-4 "><h3  class="f-t__3  ">Our Major Technology Alliances </h3></div> 
<div class="col-md-12 mb-3"><h5 class="f-t__5   mb-5  f-t5">
  Our planet-scale cloud-native platform adopts enterprises most widely for building microservices, serverless applications and automate workloads continuously with the support of multi-cloud infrastructure providers. 
</h5></div>
      <div class="col-md-3 col-6 mb-3"><img src="assets/c1.png" class="sponsers"></div>
      <div class="col-md-3 col-6 mb-3"><img src="assets/c2.png" class="sponsers mt-md-3"></div>
      <div class="col-md-3 col-6 mb-3"><img src="assets/c3.png" class="sponsers mt-md-3"></div>
      <div class="col-md-3 col-6 mb-3"><img src="assets/c4.png" class="sponsers mt-md-3"></div>
      <div class="col-md-3 col-6 mb-3"><img src="assets/c5.png" class="sponsers"></div>
      <div class="col-md-3 col-6 mb-3"><img src="assets/c6.png" class="sponsers mt-md-3"></div>
      <div class="col-md-3 col-6 mb-3"><img src="assets/c7.png" class="sponsers mt-md-3"></div>
      <div class="col-md-3 col-6 mb-3"><img src="assets/c8.png" class="sponsers"></div>



      </div>




    <footer>
      <div class="footer-wrap">
        <div class="row ">
          <div class="col-md-3 col-6">
            <h5 class="f-t__5  fw-6  f-t5">What we do ></h5>
  
            <p class="footer-link mb-2">Solutions</p>
            <p class="footer-link mb-2">Products</p>
            <p class="footer-link mb-2">Resources</p>
            <p class="footer-link mb-2">Our Customers</p>
          </div>
          <div class="col-md-3 col-6">
            <h5 class="f-t__5  fw-6  f-t5">Company ></h5>
  
            <p class="footer-link mb-2">Carrier</p>
            <p class="footer-link mb-2">Global Offices</p>
            <p class="footer-link mb-2">Media Coverage</p>
            <p class="footer-link mb-2">Press Release</p>
            <p class="footer-link mb-2">Investor Relations</p>
            <p class="footer-link mb-2">Social Responsibilities</p>
            <p class="footer-link mb-2">Trust</p>
          </div>
          <div class="col-md-3 col-6">
            <h5 class="f-t__5  fw-6  f-t5">Support ></h5>
  
            <p class="footer-link mb-2">Support Portal Login</p>
            <p class="footer-link mb-2">Contact Support</p>
            <p class="footer-link mb-2">Product Support</p>
          </div>
          <div class="col-md-3 col-6">
            <h5 class="f-t__5  fw-6  f-t5 arrow-blue">Contact Us --></h5>
            <h5 class="f-t__5  fw-6  mb-3 f-t5 arrow-blue">Partner Login --></h5>
            <p class="footer-link mb-2">Blogs</p>
            <p class="footer-link mb-2">Events</p>
            <p class="footer-link mb-2"><i class="fa fa-facebook social-media"></i><i class="fa fa-youtube social-media"></i><i class="fa fa-linkedin social-media"></i></p>
          </div>
        </div>
      </div>
    </footer>
  
    <div class="copyright">
      <img src="assets/logo.png" class="footer-logo" />
      <p class="f-t__6 copyright-txt">
        Handcrafted in Sunny California. © Yobitel 2019 Privacy Statement
      </p>
    </div>
  </div>